.u-section-1 .u-sheet-1 {
  min-height: 713px;
}

.u-section-1 .u-text-1 {
  line-height: 2.2;
  margin: 63px 0 60px;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 812px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 775px;
  }
}